<%- include('partials/header') %>
<head>
      <link rel='stylesheet' type='text/css' media='screen' href='css/styleslogin.css'>
</head>
      <div class="main-content">
        <div class="form-container">
          <form class="container mt-5 formCadastro" action="cadastro" method="post">
            <h2 class="mb-4" style="color: #da2e2e;"><strong>Crie sua conta</strong></h2>
            <div class="mb-3">
              <label for="nome" class="form-label" style="color: #da2e2e;"><strong>Nome Completo</strong></label>
              <input type="text" class="form-control" id="nome" name="nome" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label" style="color: #da2e2e;"><strong>E-mail</strong></label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
              <label for="dataNascimento" class="form-label" style="color: #da2e2e;"><strong>Data de Nascimento</strong></label>
              <input type="date" class="form-control" id="dataNascimento" name="dataNascimento" required>
            </div>
            <div class="mb-3">
              <label for="cpf" class="form-label" style="color: #da2e2e;"><strong>Nível de escolaridade</strong></label>
              <select class="form-select" id="escolaridade" name="escolaridade" required>
                <option value="" disabled selected>Selecione seu nível de escolaridade</option>
                <option value="Ensino Fundamental">Ensino Fundamental</option>
                <option value="Ensino Médio">Ensino Médio</option>
                <option value="Ensino Superior">Ensino Superior</option>
                <option value="Pós-Graduação">Pós-Graduação</option>
                <option value="Mestrado">Mestrado</option>
                <option value="Doutorado">Doutorado</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="nivelUsuario" class="form-label" style="color: #da2e2e;"><strong>Nível de Usuário</strong></label>
              <select class="form-select" id="nivel" name="nivel" required>
                <option value="" disabled selected>Selecione seu nível de leitura</option>
                <option value="Nível 1">Nível 1</option>
                <option value="Nível 2">Nível 2</option>
                <option value="Nível 3">Nível 3</option>
                <option value="Nível 4">Nível 4</option>
                <option value="Nível 5">Nível 5</option>
                <option value="Nível 6">Nível 6</option>
                <option value="Nível 7">Nível 7</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="senha" class="form-label" style="color: #da2e2e;"><strong>Senha</strong></label>
              <input type="password" class="form-control" id="senha" name="senha" required>
            </div>
            <!-- <div class="mb-3">
              <label for="confirmarSenha" class="form-label" style="color: #da2e2e;"><strong>Confirmar Senha</strong></label>
              <input type="password" class="form-control" id="confirmarSenha" name="confirmarSenha" required>
            </div> -->
            <!-- <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="termos" name="termos" required>
              <label class="form-check-label" for="termos" style="color: #da2e2e;"><strong>Concordo com os termos de uso</strong></label>
            </div> -->
            <!-- <div class="container mt-5">
              <p style="color: #da2e2e;">Faça login para acessar sua conta.</p>
              <a href="#" class="btn btn-link" style="color: #da2e2e;"><strong>Login</strong></a>
            </div> -->
            <div class="botoes-form">
              <button type="submit" class="btn btn-primary">Cadastrar</button>
              <button type="reset" class="btn btn-secondary">Limpar</button>
            </div>
          </form>
        </div>
        <div class="image-container mt-5">
          <img src="img/image.png" alt="Imagem de Cadastro" class="img-fluid">
        </div>
      </div>
<%- include('partials/footer') %>
</body>
</html>