<%- include('partials/header') %>
      <div class="main-content">
      </br><div class="img-inicio">
          <img src="img/Imagem Início.png" alt="ImagemInicio" width="29%" height="38%">
        </div></br>
        <div class="text-inicio">
          <p class="text-center" style=" color: #da2e2e; font-size: 135%;"><strong>Fluence é um site criado para ajudar na alfabetização de crianças de 6 a 8 anos. Ele utiliza reconhecimento de voz para avaliar a fluência da leitura, fornecendo feedback automático para professores, responsáveis e alunos.</strong></p>
        </div></br></br></br>
        <div class="resto-home">
          <div class="image-container mt-5">
            <img src="img/Foto teste de Fluência.png " alt="Imagem de Fluência" class="img-fluid" width="53%" height="58%">
           <p class="mb-2" style=" color: #da2e2e; font-size: 135%;"><strong>Teste de Fluência</strong></p>
        </div>
          <div class="image-container mt-5">
            <img src="img/foto audio gravado.png" alt="Imagem de AudioGravado" class="img-fluid" width="53%" height="58%">
            <p class="mb-2" style=" color: #da2e2e; font-size: 135%;"><strong>Audios Gravados</strong></p>
          </div>
          <div class="image-container mt-5">
            <img src="img/imagem desempenho.png" alt="Imagem de Desempenho" class="img-fluid" width="53%" height="58%">
            <p class="mb-2" style=" color: #da2e2e; font-size: 135%;"><strong>Desempenho</strong></p>
          </div>
      </div>

</body>
</html>
<%- include('partials/footer') %>