<%- include('partials/header') %>
      <div class="main-content">

          <div class="form-container">
            <form class="container mt-5" action="/login" method="POST">
                <h2 class="mb-4" style="color: #da2e2e;"><strong>Entre com sua conta</strong></h2>
                <div class="mb-3">
                <label for="email" class="form-label" style="color: #da2e2e;"><strong>E-mail</strong></label>
                <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                <label for="senha" class="form-label" style="color: #da2e2e;"><strong>Senha</strong></label>
                <input type="password" class="form-control" id="senha" name="senha" required>
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
          </div>
        <div class="image-container mt-5">
        <img src="img/image.png" alt="Imagem de Cadastro" class="img-fluid">
        </div>
        </div>
            <!-- <div class="text-center mt-3">
                <p style="color: #da2e2e;">Não tem uma conta? <a href="cadastro.html" style="color: #da2e2e;"><strong>Cadastre-se</strong></a></p> -->
                <% if (typeof loginValido !== 'undefined' && loginValido === false) { %>
                    <div class="alert alert-danger" role="alert">
                        <p>Email e/ou senha incorretos.</p>
                    </div>
                <% } %>
      </div>
      <div class="footer">
        <p class="text-center" style="color: #da2e2e;">© 2025 Fluence. Todos os direitos reservados.</p>
    </div>
</body>
</html>