*{
    font-family: sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffdad0;
    display: flex;
    flex-direction: column;
}

.nav-link{
    margin:0 10px;
    border-radius: 8px;
    font-size: 18px;
}

.nav-link:hover{
    background-color: #ffb3a7;
    transform: scale(1.25);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-link:active{
    background-color: #ff8c7a;
    transform: scale(1);
}

.nav-link:visited{
    color: #ff4d4d;
}

.nav-link:focus{
    outline: none;
    box-shadow: 0 0 5px #ff4d4d;
}

#gmail{
    position: relative;
    top: 5px;
}

.footer {
    flex-shrink: 0;
    width: 100%;
    margin-top: 20px;
}

.img-inicio{
    text-align: center;
    padding: 3%;
}

.text-inicio{
    text-align: center;
    font-size: 1.2rem;
    margin: 0 10%;
}

.resto-home {
   display: flex;
   flex-direction: row;
   gap: 20px;
}

.image-container {
    width: 35%;
    display: flex;
    flex-direction: column;      /* Coloca imagem e texto em coluna */
    align-items: center;         /* Centraliza imagem e texto */
    justify-content: flex-start;
    margin-right: 0;
    margin-left: 5%;
    padding-bottom: 5%;
}


/* .form-container {
    width: 55%;
    display: flex;
    justify-content: flex-start;
    margin-left: 5%; 
} */

/* form {
    width: 55vw;
    min-width: 320px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1cebb;
    border-radius: 15px;
    padding: 25px 14px;
    box-sizing: border-box;
    margin-left: 0; 
}

.mb-3 {
    width: 55%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.form-control,
.form-select {
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"],
button[type="reset"] {
    width: 30%;
    margin-bottom: 10px;
}

.botoes-form {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

.botoes-form button {
    width: 50%;
    margin-bottom: 0;
}

.image-container {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 5%; 
}

.main-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap; 
    width: 100%;
    margin-top: 20px;
    gap: 0;
}

.img-fluid {
    max-width: 80%;
    height: auto;
} */
